div.phpdebugbar-widgets-predis .phpdebugbar-widgets-status {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 6px 6px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: #555;
    background: #fafafa;
}

div.phpdebugbar-widgets-predis span.phpdebugbar-widgets-connection {
    float: right;
    margin-left: 8px;
    color: #888;
}

div.phpdebugbar-widgets-predis span.phpdebugbar-widgets-connection:before {
    font-family: PhpDebugbarFontAwesome;
    margin-right: 4px;
    font-size: 12px;
    content: "\f233";
}

div.phpdebugbar-widgets-predis code {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

div.phpdebugbar-widgets-predis li.phpdebugbar-widgets-list-item.phpdebugbar-widgets-duplicate {
    background-color: #edeff0;
}

div.phpdebugbar-widgets-predis li.phpdebugbar-widgets-list-item.phpdebugbar-widgets-duplicate:hover {
    background-color: #ffc;
}
